*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.column {
  flex-direction: column;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #fff;
  background-color: #000;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 1rem;
}

.header_top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.header_top .social_links {
  display: flex;
}
.header_top .social_links > a {
  display: block;
  margin-right: 20px;
}

.navbar {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1;
  background-color: rgba(255, 0, 68, 0.6);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 10px;
  color: white;
  background: #08a6df;
  transition: background 0.3s;
}
button svg {
  flex-shrink: 0;
  margin-left: 5px;
  fill: currentColor;
}
button:hover {
  background: #0ab8f6;
}

.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

img {
  max-width: 80%;
}

button {
  font-size: 1rem;
  background-color: #ff0135;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
section {
  min-height: 100vh;
}

.hero {
  padding-top: 20rem;
  min-height: 100vh;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/Car_service/img/bg-header-2.jpeg.webp") no-repeat center center/cover;
  filter: blur(3px);
  z-index: -1;
}
.hero_button {
  background-color: #ff0135;
  color: #01ffcb;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  width: 30rem;
}
.hero_title {
  display: block;
  margin-bottom: 10rem;
}

.gallery {
  background-color: #01ffcb;
  padding: 2rem 0;
}

.testimonials {
  background-color: #ff0135;
  color: #01ffcb;
  padding: 2rem 0;
}

.testimonial-item {
  margin-bottom: 1rem;
}

.faq {
  background-color: #01ffcb;
  padding: 2rem 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.appointment-form {
  background-color: #000;
  padding: 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin: 0.5rem 0;
}
form input[type=text],
form input[type=tel],
form input[type=email],
form select,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
form button[type=submit] {
  background-color: #ff0135;
  color: #01ffcb;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
}
form:hover {
  background-color: #cd002a;
}

.contact {
  background-color: #01ffcb;
  padding: 2rem 0;
}

.footer {
  background-color: #ff0135;
  color: #01ffcb;
  padding: 1rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 95%;
}

.footer-content {
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */
