*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.column {
  flex-direction: column;
}

.highlight {
  background-color: #ff0135;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #fff;
  background-color: #000;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  display: flex;
}

.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1;
  background-color: rgba(255, 0, 68, 0.6);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 10px;
  color: white;
  background: #08a6df;
  transition: background 0.3s;
}
button svg {
  flex-shrink: 0;
  margin-left: 5px;
  fill: currentColor;
}
button:hover {
  background: #0ab8f6;
}

.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

img {
  max-width: 80%;
}

button {
  font-size: 1rem;
  background-color: #ff0135;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel_item {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
}
.carousel_item__pic {
  width: 100%;
}
.carousel_item img {
  width: 100%;
  height: auto;
}
.carousel_item__name, .carousel_item__description, .carousel_item__price {
  padding: 10px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.header {
  position: sticky;
  top: 0;
}

.header_top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
}
.header_top .button-secondary {
  border-radius: 0;
}
.header_top .social_links {
  margin-left: 1rem;
  display: flex;
}
.header_top .social_links > a {
  display: block;
  margin-right: 20px;
}

.navbar {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

.nav-link:hover:after, .nav-link:focus:after {
  height: 5px;
  opacity: 1;
  transform: translateY(0px);
}

section {
  min-height: 100vh;
}

.hero {
  padding-top: 5rem;
  min-height: 100vh;
  font-size: 2rem;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("/img/bg-header-2.jpeg.webp") no-repeat center center/cover;
  filter: blur(3px);
  z-index: -1;
}
.hero_button {
  background-color: #ff0135;
  color: #01ffcb;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  width: 30rem;
  margin-bottom: 2rem;
}
.hero_title {
  display: block;
  margin-bottom: 6rem;
}

.about-us {
  background-color: #ff0135;
  min-height: 70vh;
}
.about-us h2 {
  display: block;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.about-us h3 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.about-us .advantages {
  display: flex;
  gap: 1rem;
}
.about-us .advantages .advantage_item__name {
  font-size: 1.7rem;
  margin: 2rem 0;
}
.about-us .advantages .advantage_item__description {
  font-size: 1rem;
}

.photo-gallery {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

.left-side, .right-side {
  flex: 1;
}

.left-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.left-side img {
  width: 100%;
  height: auto;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side img {
  width: 100%;
  height: auto;
}

.services {
  background-color: #fff;
  color: #000;
  padding-top: 3rem;
}
.services h2 {
  display: block;
  margin: 3rem 0;
  font-size: 2.5rem;
}
.services h3 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.services .carousel_item__name {
  font-size: 1.5rem;
}
.services .carousel_item__description {
  font-size: 1rem;
}
.services .carousel_item__price {
  font-size: 1.5rem;
}

.benefits {
  background-color: #ff0135;
  min-height: 70vh;
}
.benefits h2 {
  display: block;
  margin-top: 3rem;
  font-size: 2.5rem;
}
.benefits h3 {
  display: block;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.benefits .advantages {
  display: flex;
  gap: 1rem;
}
.benefits .advantages .advantage_item__name {
  font-size: 1.7rem;
  margin: 2rem 0;
}
.benefits .advantages .advantage_item__description {
  font-size: 1rem;
}

.pricing {
  padding-top: 3rem;
  background-color: #fff;
  color: #000;
}
.pricing h2 {
  padding-left: 19.1%;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.pricing h4 {
  font-size: 2rem;
  padding: 0;
}
.pricing .container {
  gap: 15rem;
}
.pricing .pricing_item {
  margin-bottom: 2rem;
}
.pricing .pricing_item__name {
  font-size: 1.5rem;
}
.pricing .pricing_item__description {
  font-size: 1rem;
}
.pricing .pricing_item__price {
  font-size: 1.5rem;
}

.gallery {
  padding-top: 3rem;
  background-color: #ff0135;
  color: #fff;
}
.gallery h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.gallery h4 {
  font-size: 2rem;
  padding: 0;
}

.testimonials {
  padding-top: 3rem;
  background-color: #fff;
  color: #000;
}
.testimonials h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.testimonials h4 {
  padding-bottom: 3rem;
}

.testimonial-item {
  margin-bottom: 1rem;
}

.faq {
  background-color: #01ffcb;
  padding: 2rem 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.appointment-form {
  padding-top: 3rem;
  background-color: #000;
  color: #FFF;
}
.appointment-form h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.appointment-form h4 {
  padding-bottom: 3rem;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin: 0.5rem 0;
}
form input[type=text],
form input[type=tel],
form input[type=email],
form input[type=date],
form input[type=time],
form select,
form textarea {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}
form button[type=submit] {
  background-color: #ff0135;
  padding: 2rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0;
  color: white;
  transition: background 0.3s;
}
form:hover {
  background-color: #010000;
}

.contact {
  padding: 3rem 0;
  background-color: #fff;
  color: #000;
}
.contact h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
}
.contact h4 {
  padding-bottom: 3rem;
}
.contact .google-map {
  width: 100%;
}

.footer {
  background-color: #ff0135;
  color: #fff;
  padding: 3rem 0;
}
.footer .container {
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */