// Глобальные переменные
$primary-color: #ff0135
$secondary-color: #01ffcb
$background-color: #000
$text-color: #fff
$font-stack: 'Helvetica', sans-serif

// Сброс стилей и базовые стили
*,
*::before,
*::after
    box-sizing: border-box
    margin: 0
    padding: 0
    font-weight: 500

ul
    list-style-type: none

a
    text-decoration: none
    color: #fff

.column
    flex-direction: column
.highlight
    background-color: $primary-color
body
    font-family: $font-stack
    color: $text-color
    background-color: $background-color
    line-height: 1.6
    font-size: 18px

.container
    width: 80%
    margin: auto
    max-width: 1200px
    display: flex

// HEADER STYLES
.page-header
    position: absolute
    top: 0
    right: 0
    left: 0
    padding: 20px 0
    z-index: 1
    background-color: rgba(255, 0, 68, 0.6)
    width: 100%

nav
    display: flex
    align-items: center
    justify-content: space-between

button
    display: flex
    align-items: center
    font-size: 16px
    font-weight: bold
    padding: 14px 20px
    border-radius: 10px
    color: white
    background: #08a6df
    transition: background 0.3s

    svg
        flex-shrink: 0
        margin-left: 5px
        fill: currentColor

    &:hover
        background: #0ab8f6

// STICKY STYLES

.page-header.is-sticky
    position: fixed
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1)
    padding: 8px 0
    backdrop-filter: blur(10px)
    animation: slideDown 0.35s ease-out

img
    max-width: 99%

button
    font-size: 1rem
    background-color: $primary-color
    padding: 0.5rem 2rem
    border: none
    cursor: pointer
    border-radius: 0

@keyframes slideDown
    from
        transform: translateY(-100%)
    to
        transform: translateY(0)

//carousel

.carousel
    position: relative
    overflow: hidden
    width: 100% // Задаем ширину карусели

.carousel-images
    display: flex
    transition: transform 0.5s ease

.carousel_item
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    flex-shrink: 0
    flex-grow: 1
    flex-basis: auto // Автоматически регулируем ширину каждого элемента карусели
    // Добавьте дополнительные стили для карусельного элемента здесь
    // Например, отступы, рамки и т.д.
    &__pic
        width: 100% // Убедитесь, что картинки адаптируются под размер элемента
    img
        width: 100%
        height: auto

    &__name, &__description, &__price
        padding: 10px
        // Добавьте стили для текстовых элементов здесь

.prev, .next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: $background-color
    border: none
    cursor: pointer
    padding: 10px
    z-index: 10

.prev
    left: 0

.next
    right: 0

// Popup

$transition-time: 0.2s

.popup
    z-index: 1000
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.6)
    display: flex
    justify-content: center
    align-items: center
    visibility: hidden
    opacity: 0
    transition: visibility 0s linear $transition-time, opacity $transition-time linear

.popup-content
    position: relative
    padding: 2rem
    width: 300px
    background: white
    border-radius: 5px

.close-button
    position: absolute
    top: 10px
    right: 15px
    font-size: 25px
    cursor: pointer

// аккордеон
.accordion
    width: 100%
    &::hover
        transform: translateX(100px)
.accordion-item
    margin-bottom: 10px
    &:hover
        transform: translateX(10px)
    

    .accordion-toggle
        background-color: $primary-color
        color: $text-color
        cursor: pointer
        padding: 18px
        width: 100%
        border: none
        text-align: left
        outline: none
        transition: 0.4s

    .accordion-content
        padding: 0 18px
        background-color: darken($primary-color, 12%)
        display: none
        overflow: hidden

    p
        margin: 18px 0

//header
.header
    position: sticky
    top: 0

.header_top
    display: flex
    gap: 1rem
    align-items: center
    justify-content: end
    .button-secondary
        border-radius: 0
    .social_links
        margin-left: 1rem
        display: flex
        &>a
            display: block
            margin-right: 20px

.navbar
    margin-top: 1rem
    display: flex
    gap: 1rem
    display: flex
    justify-content: space-between

.nav-link
    position: relative
.nav-link:after
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 1px
    background: #fff
    content: ''
    opacity: 0
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s
    transition: height 0.3s, opacity 0.3s, transform 0.3s
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)
    transform: translateY(-10px)

.nav-link:hover:after, .nav-link:focus:after
    height: 5px
    opacity: 1
    -webkit-transform: translateY(0px)
    -moz-transform: translateY(0px)
    transform: translateY(0px)

section

    min-height: 100vh
//hero

.hero
    padding-top: 5rem
    min-height: 100vh
    font-size: 2rem
    overflow: hidden
    &::before
        content: ""
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: url('/img/bg-header-2.jpeg.webp') no-repeat center center / cover
        filter: blur(3px)
        z-index: -1

    &_button
        background-color: $primary-color
        color: $secondary-color
        padding: 0.5rem 2rem
        border: none
        cursor: pointer
        width: 30rem
        margin-bottom: 2rem
    &_title
        display: block
        margin-bottom: 6rem

//about-us

.about-us
    background-color: $primary-color
    min-height: 70vh
    h2
        display: block
        margin-top: 3rem
        font-size: 2.5rem
    h3
        display: block
        margin-top: 3rem
        margin-bottom: 5rem
    .advantages
        display: flex
        gap: 1rem
        .advantage_item
            &__name
                font-size: 1.7rem
                margin: 2rem 0
            &__description
                font-size: 1rem
// Стили для галереи
.photo-gallery
    display: flex
    width: 100%
    margin-bottom: 5rem

.left-side, .right-side
    flex: 1

.left-side
    display: grid
    grid-template-columns: repeat(2, 1fr) // Две колонки одинаковой ширины
    grid-gap: 10px // Расстояние между фотографиями

    img
        width: 100%
        height: auto

.right-side
    display: flex
    justify-content: center
    align-items: center

    img
        width: 100%
        height: auto
//услуги 
.services
    background-color: #fff
    color: $background-color
    padding-top: 3rem
    h2
        display: block
        margin: 3rem 0
        font-size: 2.5rem
    h3
        display: block
        margin-top: 3rem
        margin-bottom: 5rem
    .carousel_item
        &__name
            font-size: 1.5rem
        &__description
            font-size: 1rem
        &__price
            font-size: 1.5rem

//преимущества
.benefits
    background-color: $primary-color
    min-height: 70vh
    h2
        display: block
        margin-top: 3rem
        font-size: 2.5rem
    h3
        display: block
        margin-top: 3rem
        margin-bottom: 5rem
    .advantages
        display: flex
        gap: 1rem
        .advantage_item
            &__name
                font-size: 1.7rem
                margin: 2rem 0
            &__description
                font-size: 1rem
            &__pic
                filter: invert(1)

//pricing
.pricing
    padding-top: 3rem
    padding-bottom: 3rem
    background-color: #fff
    color: #000
    h2
        padding-left: 19.1%
        font-size: 3rem
        padding-bottom: 3rem
    h4
        font-size: 2rem
        padding: 0
    .container
        gap: 15rem
    .pricing_item
        margin-bottom: 2rem
        &__name
            font-size: 1.5rem
        &__description
            font-size: 1rem
        &__price
            font-size: 1.5rem
    .pricing_link
        width: 15rem
        background-color: #ff0135
        display: block
        padding: 2rem 2rem
        border: none
        cursor: pointer
        border-radius: 0
        color: white
        transition: background 0.3s

//gallery 
.gallery
    padding-top: 3rem
    background-color: $primary-color
    color: #fff
    h2
        font-size: 3rem
        padding-bottom: 3rem
    h4
        font-size: 2rem
        padding: 0

// Стили для отзывов
.testimonials
    padding-top: 3rem
    background-color: #fff
    color: #000
    h2
        font-size: 3rem
        padding-bottom: 3rem
    h4
        padding-bottom: 3rem

.testimonial-item
    margin-bottom: 1rem

// Стили для FAQ
.faq
    background-color: #fff
    padding: 2rem 0

.faq-item
    margin-bottom: 1rem

// Стили для формы записи


.appointment-form
    padding-top: 3rem
    background-color: #fff
    color: #000
    position: relative
    .container
        align-items: flex-end
    h2
        font-size: 3rem
        padding-bottom: 3rem
        z-index: 1
    h4
        padding-bottom: 3rem
        z-index: 1
    .form_image
        position: absolute
        left: 0
        top: 5rem
        z-index: 0
    #contactForm
        width: 45%
        z-index: 1

form
    display: flex
    flex-direction: column

    label
        margin: 0.5rem 0

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    input[type='date'],
    input[type='time'],
    select,
    textarea
        width: 100%
        padding: 2rem
        margin-bottom: 1rem

    button[type='submit']
        background-color: $primary-color
        display: block
        padding: 2rem 2rem
        border: none
        cursor: pointer
        border-radius: 0
        color: white
        transition: background 0.3s

    // &:hover
    //     background-color: darken($primary-color, 10%)

// Стили для контактной информации
.contact
    padding: 3rem 0
    background-color: #fff
    color: #000
    h2
        font-size: 3rem
        padding-bottom: 3rem
    h4
        padding-bottom: 3rem
    .google-map
        width: 100%

// Стили для подвала
.footer
    background-color: $primary-color
    color: #fff
    padding: 3rem 0
    .container
        align-items: center
        gap: 1rem
    .legal
        display: flex
        flex-direction: column
        gap: 1rem
.footer-content
    display: flex
    justify-content: space-between
    align-items: center

.footer_services
    text-align: center

.footer_top
    display: flex
    flex-direction: column
    gap: 1rem
    align-items: center
    justify-content: end
    .button-secondary
        border-radius: 0
    .social_links
        margin-left: 1rem
        display: flex
        &>a
            display: block
            margin-right: 20px

// SERVICES

.services
    padding-top: 3rem
    background-color: #fff
    color: #000
    min-height: 90vh
    a
        color: #000
        display: block
    h2
        font-size: 3rem
        padding-bottom: 3rem
    h4
        font-size: 2rem
        padding: 0
    .container
        justify-content: start
    &_item
        margin-bottom: 2rem
        &__name
            font-size: 1.5rem
        &__links
            font-size: 1rem
        &__price
            font-size: 1.5rem

// Медиа запросы для адаптивности
// @media (max-width: 768px)
// .container
//     width: 95%

// .footer-content
//     flex-direction: column

// $iphone-x: 375px
// $iphone-plus: 414px
// $iphone-xr-xs-max: 414px
// $iphone-12-mini: 360px
// $iphone-12-12-pro: 390px
// $iphone-12-pro-max: 428px

// // Сброс стилей и базовые стили
// // ...

// // Медиа запросы для адаптивности
// @media (max-width: $iphone-x), (max-width: $iphone-plus), (max-width: $iphone-xr-xs-max), (max-width: $iphone-12-mini), (max-width: $iphone-12-12-pro), (max-width: $iphone-12-pro-max)
// .container
//     width: 100%
//     padding: 0 15px

// .header, .navbar
//     flex-direction: column
//     align-items: center
//     // display: none

// .hero
//     padding-top: 10rem
//     &::before
//         filter: blur(2px)

// .hero_title
//     font-size: 24px
//     margin-bottom: 2rem

// .services, .pricing, .testimonials, .contact, .about-us, .gallery, .faq, .appointment-form
//     padding: 20px 0

// .footer
//     text-align: center
//     .footer-content
//         flex-direction: column
//         margin-top: 20px

// nav
//     display: none // Вы можете добавить стили для гамбургер-меню здесь

// button, .button-secondary
//     padding: 12px 20px
//     font-size: 16px

// .header_top, .social_links, .navbar nav
//     display: flex
//     flex-direction: column
//     align-items: center
//     margin-top: 1rem

// .page-header
//     position: static // Изменение позиционирования для мобильных устройств

//     // Дополнительные адаптивные стили
